@import '../../scss/variables';

button {
  background-color: #aaa;
  color: white;
  display: block;
  min-width: 100px;
  padding: 0.75em 1.5em;
  font-size: 0.8em;
  transition: background 300ms ease-out;
  font-weight: 700;
  border: none;
  cursor: pointer;
  
  &.primary {
    background-color: $color-primary;
    &:hover {
      background-color: #307aa0;
    }
  }

  &.secondary {
    background-color: $color-secondary;
    &:hover {
      background-color: $color-secondary-dark;
    }
  }
}
