@import '../../scss/variables';

@mixin fontResize($iterations) {
  $i: 1;
  @while $i <= $iterations {
    @media all and (min-width: 60px * $i) {
      body {
        font-size: 0.14em * $i;
      }
    }
    $i: $i + 1;
  }
}

@include fontResize(10);

.calculator {
  max-width: 880px;
  height: 100vh;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  padding-bottom: 2vh;
  flex-direction: column;
  justify-content: center;

  > * {
    margin: 0.5rem 0;
  }

  .outputs {
    background: white;
    border: 4px solid $color-primary;
    padding: 1em 1.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;

    .output-value {
      text-align: right;
      min-width: 4em;
    }
  }

  .cta {
    margin-left: auto;
    padding: 0;
    padding-left: 1rem;
    border-left: 4px solid #ddd;
  }

  .row {
    float: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .top-space {
      margin-bottom: 0.5em;
    }

    .input-line {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .nowrap {
        white-space: nowrap;
      }

      > div {
        margin: 0 0.5em;
      }

      .currency {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        span {
          font-size: 0.8em;
          vertical-align: middle;
          margin-right: 8px;
        }

        input {
          border: 0;
          height: auto;
          background-color: white;
          padding: 0.75em;
          line-height: normal;
          font-size: 1rem;
          outline: 4px solid #eee;

          &:focus {
            outline: 4px solid $color-primary;
          }
        }
      }
    }
  }
}
